<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/hossmi/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="hossmi" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>